.App {
  text-align: center;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.MuiTypography-colorTextSecondary,
.MuiTypography-colorPrimary {
  font-size: 10px !important;
}

@media only screen and (max-width: 600px) {
  .MuiListItemSecondaryAction-root {
    position: relative !important;
    bottom: 0;
    right: 0 !important;
    top: 0 !important;
  }
  .makeStyles-price-25 {
    font-size: 1.2em !important;
  }
  .MuiListItem-secondaryAction {
    padding-right: 0 !important;
  }
  .MuiTypography-colorTextSecondary,
  .MuiTypography-colorPrimary,
  .MuiChip-labelSmall {
    font-size: 8px !important;
  }
  .MuiExpansionPanelSummary-content {
    margin: 0 !important;
  }
}
