.App {
  text-align: center;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.break-word{
  white-space: break-spaces;
}

.MuiTypography-colorTextSecondary,
.MuiTypography-colorPrimary,
.MuiSlider-valueLabel,
.MuiAlert-message {
  font-size: 10px !important;
}
.MuiAlert-root {
  padding: 3px 10px !important;
  margin-bottom: 10px;
}
.MuiAlert-message {
  padding: 12px 0 !important;
}

.MuiExpansionPanelSummary-content {
  margin: 0 !important;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0 !important;
}

@media only screen and (max-width: 730px) {
  .MuiListItemSecondaryAction-root {
    position: relative !important;
    bottom: 0;
    right: 0 !important;
    top: 0 !important;
  }
  [class^="makeStyles-price"] {
    font-size: 1em !important;
  }
  .MuiListItem-secondaryAction {
    padding-right: 0 !important;
  }
  .MuiTypography-colorTextSecondary,
  .MuiTypography-colorPrimary,
  .MuiChip-labelSmall {
    font-size: 8px !important;
  }
  .MuiExpansionPanelSummary-content {
    margin: 0 !important;
  }
  .MuiTypography-body1 {
    font-size: 0.6rem !important;
    font-weight: bold !important;
  }
}

.passengers {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

.passengers .MuiAvatar-root.MuiAvatar-square {
  width: 15px;
  height: 15px;
  opacity: 0.6;
  margin-right: 5px;
}
